{% extends "base.html" %}
{% load static %}
{% block htmx %}
  <script src="{% static 'planning/js/htmx.min.js' %}"></script>
{% endblock %}
{% block wrapper %}
  <section class="page-section" id="services">
    <div class="container">
      <div class="text-center"><br /><br />
        <h3 class="section-subheading text-muted">Visualisation du Planning</h3><br /><br />
        {% if calendar %}
        <div align="center">
        <form>
          {% csrf_token %}
            <table>
              <tr>
                <td>
                  <label for="date_search">Entrez la date de la tournée : </label>
                </td>
                <td>
                 <input type="date" name="date_search" id="date_search">
                </td>
              </tr>
            </table>
            <p><br></p>
            <table>
              <tr>
                <td>
                  <button id="sendBtn" class="primary btn-secondary form-control"
                          hx-post="{% url 'planning:display_tour' %}"
                          hx-target="#view_tour"
                          hx-swap="innerHTML"
                          type="submit">Afficher les tournées
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
          <br><br><br>
       {% endif %}
        <div>
          <p>
            {% include 'planning/display_detailed_tour.html' %}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
  <script src="{% static 'planning/js/modifPlanning.js' %}"></script>
{% endblock %}



