{% extends "base.html" %}
{% load static %}
{% block wrapper %}
  <section class="page-section" id="services">
    <div class="container">
      <div class="text-center"><br /><br />
        <h3 class="section-subheading text-muted">Planning des Tournées l'Orchidée</h3><br /><br />
        <p>
          L'application vous permet pour le moment d'insérer et de visualiser les tournées quotidiennes.<br />
          Comment procéder ?<br /><br/>
          1- Enregistrer les tournées au format PDF dans l'application 'Simply Vitale' sur
          votre ordinateur.<br />
          2- Insérer les 2 fichiers de la tournée via Planning > Insertion.<br />
          Sélectionner le nom de la collaboratrice en charge pour chacune des deux tournées.<br />
          Choisir le fichier PDF correspondant à la tournée.<br /><br />
        </p>
        <p>
          Pour visualiser ensuite le planning, il faudra choisir la date de la tournée.<br />
          Vous pourrez ajouter des commentaires pour chaque visite planifiée.<br />
          Une fois qu'une visite est réalisée, cliquer sur le bouton 'Fait' de la ligne qui correspond à
          cette dernière.<br />
          Il ne sera ensuite plus possible d'ajouter ou de modifier le commentaire de la ligne.<br /><br />
        </p>
      </div>
    </div>
  </section>
  <br /><br /><br /><br /><br />

{% endblock %}